* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.whole {
    border:1px solid red;
    display: grid;
    grid-template-columns: minmax(max-content,1fr) 1fr 1fr;
    grid-template-rows:200px 1fr 1fr;
    grid-template-areas: "side header header"
    "side main main "
    "side main main ";
    height: 100vh;
}

.side {
    border: 1px solid green;
    grid-area: side;
    display: grid;
    background-color: blue;
    grid-template-rows: minmax(50px,100px) minmax(max-content,200px) minmax(100px,150px);

    
}
.header {
    border: 1px solid orange;
    grid-area: header;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    background-color: brown;
}
.main {
    border: 1px solid blue;
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* side area*/
.side-box1{
    border: 1ox solid red;
    height:10px;
   
}
.side-box2{
    border: 1px solid green;
    display:grid;
    align-content:space-around;
}
.side-box3{
    border: 1px solid yellow;
}

/*header area*/
.header-box1{
    border: 1px solid red;
}
.header-box2{
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-box3{
    border: 1px solid yellow;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: "one two"
                         "one three"
                         "one three";
}
.header-box4{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.one{
grid-area: one;
}
.two{
grid-area: two;
}
.three{
grid-area: three;
}