* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 16px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: #000000;
        font-weight: 400;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        
        
}


.whole {
    
    display: grid;
    grid-template-columns: minmax(max-content,200px) minmax(309px,1fr) minmax(309px,1fr);
    grid-template-rows:200px 1fr 1fr;
    grid-template-areas: "side header header"
    "side main main "
    "side main main "
     ;
    
}

.side {
    
    grid-area: side;
    display: grid;
    background-color:black;
    grid-template-rows: minmax(50px,100px) minmax(max-content,200px) minmax(100px,150px);
    height: 100%;
    color:#2272FF;
   
    
    text-shadow: 0 0 15px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255);
    padding: 10px;

    
}
.header {
    border: 1px solid rgb(0, 0, 0);
    grid-area: header;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    background-color: #2272FF;
    color:#000000;
    box-shadow: 0 0 5px 1px #2272FF;
}
.main {
    border: 1px solid blue;
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #ffffff;
}

/* side area*/
.side-box1{
   
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
    border: 1px solid #2272FF;
    box-shadow: 0 0 5px 1px #2272FF;
}
.side-box1 img{
    width: 20%;
    height: 30%;
    
    margin-top: 10px;
    position:relative;
    top: 8px;
}
.home img{
    width: 20%;
    height: 60%;
    position: relative;
    top: 8px;
}
.profile img{
    width: 20%;
    height: 60%;
    position: relative;
    top: 8px;
}
.message img{
    width: 20%;
    height: 60%;
    position: relative;
    top: 8px;
}
.history img{
    width: 20%;
    height: 60%;
    position: relative;
    top: 8px;
}
.tasks img{
    width: 20%;
    height: 60%;
    position: relative;
    top: 8px;
}
.community img{
    width: 20%;
    height: 60%;
    position: relative;
    top: 8px;
}
.settings img{
    width: 20%;
    height: 60%;
    position: relative;
    top: 8px;
}
.support img{
    width: 20%;
    height: 60%;
    position: relative;
    top: 8px;
}
.privacy img{
    width: 20%;
    height: 60%;
    position: relative;
    top: 8px;
}
.side-box2{
    border: 1px solid #2272FF;
    display:grid;
    align-content:space-around;
    padding-left: 10px;
    line-height: 3;
    position: relative;
    box-shadow: 0 0 5px 1px #2272FF;
}
.side-box3{
    
    padding-left: 10px;
    display: grid;
    align-content: space-around;
}

/*header area*/
.header-box1{
    border: 1px solid red;
}
.header-box2{
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-box3{
    border: 1px solid yellow;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: "one two"
                         "one three"
                         "one three";
}
.header-box4{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-one{
grid-area: one;
}
.header-two{
grid-area: two;
}
.header-three{
grid-area: three;
}

/*main area*/
.main-one{
border: 1px solid green ;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
grid-auto-rows: 1fr ;
}
.main-two{
border: 1px solid black;
display: grid;
grid-template-columns: minmax(max-content,1fr);
}
.story1{
    border: 1px solid black;
    
    display: grid;
    grid-template-rows:1fr 80px;
}
.story2{
    border: 1px solid red;
    display: grid;
    grid-template-rows:1fr 80px;
}
.story3{
    border: 1px solid black;
    display: grid;
    grid-template-rows:1fr 80px;
}
.story4{
    border: 1px solid red;
    display: grid;
    grid-template-rows:1fr 80px;
}
.story5{
    border: 1px solid black;
    display: grid;
    grid-template-rows:1fr 80px;
}
.story6{
    border: 1px solid red;
    display: grid;
    grid-template-rows:1fr 80px;
}
.button{
   
    align-self: end;
    border: 1px solid purple;
    height: 30%;
    width: 30%;
    }
    .text{
        border: 1px solid pink;
        
    }
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);

    body{
      background: #f2f2f2;
      font-family: 'Open Sans', sans-serif;
    }
    
    .search {
      
      position: relative;
      display: flex;
    }
    
    .searchTerm {
      width: 100%;
      border: 3px solid #00B4CC;
      border-right: none;
      padding: 5px;
      height: 20px;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: #9DBFAF;
    }
    
    .searchTerm:focus{
      color: #00B4CC;
    }
    
    .searchButton {
      width: 40px;
      height: 36px;
      border: 1px solid #00B4CC;
      background: #00B4CC;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 20px;
    }
    
    .wrap{
        padding-top: 40px;
        padding-left: 90px;
        padding-right: 90px;
    }
  